body {
    height: 90vh;
    /* 设置body高度为视窗高度 */
    display: flex;
    /* 使用flexbox布局 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    background-color: #cacaca;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.big-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 100px;
    height: 66px;
    border-radius: 18px;
    background-color: #f2f2f2;
    border: 2px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}

.play-button:hover {
    background-color: #e0e0e0;
}

.play-button:active {
    background-color: #c7c7c7;
}

.stop-button {
    width: 100px;
    height: 66px;
    border-radius: 18px;
    background-color: #f2f2f2;
    border: 2px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}

.stop-button:hover {
    background-color: #e0e0e0;
}

.stop-button:active {
    background-color: #f8f8f8;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.output-container {
    border-radius: 12px;
    background-color: #f3f3f3;
    padding: 16px;
    height: 200px;
    border: 1px solid black;
    overflow-y: auto;
}

.output-container::-webkit-scrollbar {
    width: 8px;
}

.output-container::-webkit-scrollbar-thumb {
    background-color: #33333366;
    border-radius: 4px;
}

.main {
    flex: 8;
    margin-right: 20px;
}

.value-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 3;
    margin-left: 20px;
    padding: 8px;
    float: right;
    width: 50%;
}

.bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.audio-hz-slider {
    width: 80%;
}

.slider {
    appearance: none;
    width: 100%;
    height: 22px;
    border-radius: 40px;
    background-color: #ddd;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 76px;
    height: 42px;
    border-radius: 16px;
    background-color: #1389ff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:before {
    content: attr(data-value);
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.audio-hz-slider input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}

input#hzValue {
    width: 128px;
    height: 78px;
    padding: 0px;
    font-size: 34px;
    border: 1px solid #ddd;
    border-radius: 18px;
    text-align: center;
    /* 将输入框中的文本居中对齐 */
    display: block;
    /* 将输入框设置为块级元素 */
    margin: 0 auto;
    /* 将输入框水平居中对齐 */
    margin-bottom: 18px;
}

span#hz-unit {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 14px;
    padding-bottom: 18px;
}

div#blank-left {
    flex: 2;
}

div#blank-right {
    flex: 1;
}

@media screen and (max-width: 768px) {

    /* 在屏幕宽度小于等于768px时的样式 */
    body {
        /* 修改背景颜色 */
        background-color: #ffffff;
    }

    .container {
        /* 修改主容器为竖向排列 */
        flex-direction: column;
        /* 修改高度为自适应 */
        height: auto;
    }

    .main {
        /* 修改宽度为100% */
        width: 100%;
        /* 移除右侧边距 */
        margin-right: 0;
    }

    .right {
        /* 修改宽度为100% */
        width: 100%;
        /* 移除左侧边距 */
        margin-left: 0;
        /* 调整内边距 */
        padding: 0;
    }

    .value-container {
        /* 调整布局为竖向排列 */
        flex-direction: row;
        /* 调整高度 */
        height: auto;
        /* 调整底部边距 */
        margin-bottom: 10px;
    }

    #hzValue {
        /* 调整输入框宽度 */
        width: 80%;
    }

    #hz-unit {
        /* 调整字体大小 */
        font-size: 20px;
        /* 调整底部边距 */
        padding-bottom: 10px;
    }

    .play-button {
        border-radius: 22px;
        margin: 5px 5px;
    }
    
    .stop-button {
        border-radius: 22px;
        margin: 5px 5px;
    }

    div#blank-top {
        flex: 1;
    }
}

@media screen and (max-width: 480px) {

    /* 在屏幕宽度小于等于480px时的样式 */
    .play-button,
    .stop-button {
        /* 调整按钮宽度 */
        width: 80px;
        /* 调整字体大小 */
        font-size: 16px;
    }

    .slider {
        /* 调整高度 */
        height: 16px;
    }

    .slider::-webkit-slider-thumb {
        /* 调整宽度和高度 */
        width: 60px;
        height: 32px;
    }

    .slider::-webkit-slider-thumb:before {
        /* 调整字体大小 */
        font-size: 10px;
    }
}